# local repo specific
suma.py
api_main.py
summa123.py


# Local environments
venv
.vscode
.cache
__pycache__
.idea
.DS_Store
.env

# Datasets
hsf_page
best.pt
math_dataset.zip
NIST_raw_handwritten.zip
test/organic_chem_handwritten_notes1.pdf
test/organic_chem_handwritten_notes2.pdf
test/organo_mettallic_chem_notes.pdf

